body{
	font-family: verdana;
	font-size: 16px;
	background-color: #ddd;

}

.main{
	width: 100%;
	margin: auto;/*
	background-color: #009bffc9*/;
}
.form-content{
	padding: 20px;
}
.title{
	margin-bottom: 0;
	text-align: left;
	padding: 30px;
	padding-bottom: 0;

	
}

.normal, .error{
	display: flex;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 10px;
	width: 100%;
	outline: none;
}

.normal, .error{
	margin:10px 0px;
	border: none;

}

.error, .textarea-error {
	border:3px solid #ff5722;
}

.error-alert {
	color: #ff5722;
}

.normal:focus, .error:focus{
	border:2px solid #009bffc9;
}

textarea.normal, textarea.textarea-error{
	height: 200px;
    width: 100%;
    resize: none;
    overflow: auto;
    padding: 7px;
}

#nameError, #emailError, #messageError {
	display: none;
}

input[type=submit]{
	padding: 10px 30px;
	background-color: #009bffc9;
	color:#fff ;
	outline: none;
	border: none;
    margin-top: 15px;
}
#submit[type=submit]:hover{
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 2px 2px 2px #ff5722;
	
}

/* ==================== Responsiveness ===================*/

/* Tablets*/
@media only screen and (min-width: 600px) {
    .main{
		width: 100%;
		margin: auto;/*
		background-color: #009bffc9*/;
	}
}

/*Laptops and Desktops*/

@media only screen and (min-width: 1000px) {
    .main{
		width: 60%;
		margin: auto;/*
		background-color: #009bffc9*/;
	}
}
